/* code formatted using Prettier VS Code Extension */
* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

#navbar {
  background-color: slateblue;
  padding: 1.5vh 0 1.5vh 0;
  overflow: hidden;
  width: 100%;
  position: fixed;
}

.navItem {
  float: left;
  display: block;
  margin: 0 1%;
  width: 9%;
  font-size: 1.15vw;
  text-align: center;
  text-decoration: none;
  color: snow;
  font-weight: bold;
  border-radius: 1em;
  height: 4vh;
  padding: 0.5vh 0 0.5vh 0;
}

.navItem:hover {
  background-color: rgba(99, 99, 99, 0.5);
}

.icon {
  display: none;
}

#hiThere {
  display: grid;
  background-color: slateblue;
  width: 100%;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.9fr 0.1fr;
  grid-template-areas:
    "hello tongueOutImage albertEinstein"
    "quote quote quote";
  place-items: center;
  justify-items: center;
  padding-bottom: 2em;
}
#hello {
  grid-area: hello;
  text-align: center;
  font-size: 4em;
  color: snow;
}
#tongueOutImage {
  grid-area: tongueOutImage;
  object-fit: cover;
  width: 100%;
  height: 80%;
  margin-top: 3em;
  border-radius: 1em;
}
#albertEinstein {
  grid-area: albertEinstein;
  text-align: center;
  font-size: 3em;
  color: snow;
}
#quote {
  grid-area: quote;
  font-size: 1.5em;
  text-align: center;
  color: snow;
}

#aboutMe {
  display: grid;
  width: 100%;
  min-height: 100vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.1fr 0.9fr;
  grid-template-areas:
    "aboutMeHeader aboutMeHeader"
    "myImage myDescription";
  justify-items: center;
  background-color: rgb(211, 211, 211);
  padding-bottom: 2em;
  padding-top: 2em;
}
#aboutMeHeader {
  grid-area: aboutMeHeader;
  width: 100%;
  text-align: center;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  font-size: 2.5em;
}
#myImage {
  grid-area: myImage;
  object-fit: cover;
  max-width: 80%;
  height: auto;
  border-radius: 1em;
  margin: 0 2.5em 0 5em;
}
#myDescription {
  grid-area: myDescription;
  max-width: 80%;
  height: auto;
  font-size: 1.1em;
  margin: 0 5em 0 2.5em;
}

#scientificCareer {
  display: grid;
  width: 100%;
  min-height: 100vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr;
  grid-template-areas:
    "scientificCareerHeader scientificCareerHeader scientificCareerHeader"
    "careerTableHeader careerTableHeader careerTableHeader"
    "career1 career1 career1"
    "career2 career2 career2"
    "career3 career3 career3"
    "career4 career4 career4"
    "career5 career5 career5"
    "career6 career6 career6"
    "career7 career7 career7"
    "career8 career8 career8";
  row-gap: 0.5em;
  justify-items: center;
  align-items: center;
  background-color: rgb(35, 34, 73);
  padding-bottom: 2em;
  padding-left: 1em;
  padding-top: 2em;
  padding-right: 1em;
}
#scientificCareerHeader {
  grid-area: scientificCareerHeader;
  width: 100%;
  text-align: center;
  font-size: 2.5em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  color: snow;
}
#careerTableHeader {
  grid-area: careerTableHeader;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: snow;
  border-radius: 0.5em;
  background-color: rgba(21, 20, 53, 0.5);
  font-size: 1.2em;
  padding: 0.5em 0;
}

.careerItem {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 0.5em;
  background-color: #fdfdb4;
  font-size: 1em;
  padding: 0.5em 0;
  font-weight: 600;
}
#careerTableHeader h4,
.careerItem span {
  width: 30%;
  display: inline-block;
  text-align: center;
}
#career1 {
  grid-area: career1;
}
#career2 {
  grid-area: career2;
}
#career3 {
  grid-area: career3;
}
#career4 {
  grid-area: career4;
}
#career5 {
  grid-area: career5;
}
#career6 {
  grid-area: career6;
}
#career7 {
  grid-area: career7;
}
#career8 {
  grid-area: career8;
}

#publications {
  display: grid;
  width: 100%;
  min-height: 100vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.1fr 0.15fr 0.15fr 0.15fr 0.15fr;
  grid-template-areas:
    "publicationsHeader publicationsHeader"
    "paper1 paper2"
    "paper3 paper4"
    "paper5 paper6";
  padding-left: 1em;
  padding-right: 1em;
  align-items: center;
  column-gap: 1em;
  row-gap: 1em;
  justify-items: center;
  background-color: #ffc800;
  padding-top: 2em;
}
#publicationsHeader {
  grid-area: publicationsHeader;
  width: 100%;
  text-align: center;
  font-size: 2.5em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
#paper1 {
  grid-area: paper1;
}
#paper2 {
  grid-area: paper2;
}
#paper3 {
  grid-area: paper3;
}
#paper4 {
  grid-area: paper4;
}
#paper5 {
  grid-area: paper5;
}
#paper6 {
  grid-area: paper6;
}

.publicationItem {
  display: grid;
  grid-template-columns: 0.7fr 0.3fr;
  grid-template-rows: 0.2fr 0.2fr 0.5fr 0.1fr;
  grid-template-areas:
    "paperTitle paperTitle"
    "areaOfFocus areaOfFocus"
    "significance significance"
    "paperPublishDate paperIcon";
  align-content: space-between;
  width: 100%;
  padding: 1em;
  height: 20em;
  border-radius: 1em;
  row-gap: 0.5em;
  box-shadow: 0px 2px 8px 0px rgba(99, 99, 99, 0.2);
  background-color: snow;
}

.paperPublishDate {
  grid-area: paperPublishDate;
  width: 100%;
  text-align: left;
  margin-top: auto;
  font-size: 0.8em;
}
.areaOfFocus {
  grid-area: areaOfFocus;
  width: 100%;
}
.paperTitle {
  grid-area: paperTitle;
  width: 100%;
}
.paperTitle a {
  text-decoration: none;
  color: black;
}
.paperTitle a:hover {
  text-decoration: underline;
  cursor: pointer;
}
.significance {
  grid-area: significance;
  width: 100%;
}
.paperIcon {
  grid-area: paperIcon;
  margin-left: auto;
  margin-top: auto;
  font-size: 2em;
  justify-self: end;
  align-self: end;
}

#awards {
  display: grid;
  width: 100%;
  min-height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.1fr 0.45fr 0.45fr;
  grid-template-areas:
    "awardsHeader awardsHeader awardsHeader awardsHeader"
    "award1 award2 award3 award7"
    "award5 award6 award4 award8";
  justify-items: center;
  align-items: center;
  padding-left: 1em;
  column-gap: 1em;
  row-gap: 1em;
  padding-right: 1em;
  padding-bottom: 2em;
  padding-top: 2em;
  background-color: #293745;
}
#awardsHeader {
  grid-area: awardsHeader;
  width: 100%;
  text-align: center;
  font-size: 2.5em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  color: snow;
}
#award1 {
  grid-area: award1;
}
#award2 {
  grid-area: award2;
}
#award3 {
  grid-area: award3;
}
#award4 {
  grid-area: award4;
}
#award5 {
  grid-area: award5;
}
#award6 {
  grid-area: award6;
}
#award7 {
  grid-area: award7;
}
#award8 {
  grid-area: award8;
}

.awardItem {
  height: 27em;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 1em;
  box-shadow: 0px 2px 8px 0px rgba(99, 99, 99, 0.2);
  background-color: snow;
  padding: 0.5em;
}
.awardItem img {
  height: 20em;
  width: 100%;
  border-radius: 1em;
  object-fit: cover;
}
.awardItem h4 {
  width: 100%;
  text-align: center;
  font-size: 1.2em;
}
.awardItem span {
  width: 100%;
  text-align: center;
  font-size: 0.8em;
}

#hobbies {
  display: grid;
  width: 100%;
  min-height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.1fr 0.9fr;
  grid-template-areas:
    "hobbiesHeader hobbiesHeader hobbiesHeader hobbiesHeader"
    "puzzle book violin essay";
  justify-items: center;
  padding-left: 1em;
  column-gap: 1em;
  padding-right: 1em;
  align-items: center;
  padding-top: 2em;
  background-color: #19786b;
  padding-bottom: 2em;
}
#hobbiesHeader {
  grid-area: hobbiesHeader;
  width: 100%;
  text-align: center;
  font-size: 2.5em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
#puzzle {
  grid-area: puzzle;
}
#book {
  grid-area: book;
}
#violin {
  grid-area: violin;
}
#essay {
  grid-area: essay;
}

.hobbyItem img {
  height: 20em;
  width: 100%;
  border-radius: 1em;
  object-fit: cover;
}

.hobbyItem h4 {
  text-align: center;
  font-size: 1.5em;
  width: 100%;
}

.hobbyItem {
  height: 23em;
  width: 100%;
  display: flex;
  padding: 0.5em;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 1em;
  box-shadow: 0px 2px 8px 0px rgba(99, 99, 99, 0.2);
  background-color: snow;
}

#gallery {
  display: grid;
  width: 100%;
  min-height: 100vh;
  grid-template-columns: 0.2fr 0.6fr 0.2fr;
  grid-template-rows: 0.1fr 0.4fr 0.5fr;
  grid-template-areas:
    "galleryHeader galleryHeader galleryHeader"
    "galleryArrowLeft galleryDisplay galleryArrowRight"
    "imagesCollection imagesCollection imagesCollection";
  justify-items: center;
  align-items: center;
  padding-bottom: 2em;
  padding-top: 2em;
  background-color: whitesmoke;
}
#galleryHeader {
  grid-area: galleryHeader;
  width: 100%;
  text-align: center;
  font-size: 2.5em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
#galleryArrowLeft {
  grid-area: galleryArrowLeft;
}
#galleryArrowRight {
  grid-area: galleryArrowRight;
}
#galleryArrowLeft,
#galleryArrowRight {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 2em;
  width: 2em;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0px 2px 8px 0px rgba(99, 99, 99, 0.2);
}
#galleryDisplay {
  grid-area: galleryDisplay;
  width: 100%;
  object-fit: cover;
  height: 70vh;
  border-radius: 1em;
  margin-bottom: 1em;
}
#imagesCollection {
  grid-area: imagesCollection;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1em;
  padding-left: 1em;
  padding-right: 1em;
  grid-template-areas:
    "image1 image2 image3 image4 image5 image6"
    "image7 image8 image9 image10 image11 image12";
}
.pictures {
  height: 10em;
  width: 100%;
  object-fit: cover;
  border-radius: 1em;
}

#image1 {
  grid-area: image1;
}
#image2 {
  grid-area: image2;
}
#image2 {
  grid-area: image2;
}
#image3 {
  grid-area: image3;
}
#image4 {
  grid-area: image4;
}
#image5 {
  grid-area: image5;
}
#image6 {
  grid-area: image6;
}
#image7 {
  grid-area: image7;
}
#image8 {
  grid-area: image8;
}
#image9 {
  grid-area: image9;
}
#image10 {
  grid-area: image10;
}
#image11 {
  grid-area: image11;
}
#image12 {
  grid-area: image12;
}

#blogs {
  display: grid;
  width: 100%;
  min-height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 0.6fr 0.3fr;
  grid-template-areas:
    "blogsHeader"
    "blogsList"
    "blogInput";
  justify-items: center;
  align-items: stretch;
  background-color: #03244a;
  padding-top: 2em;
}
#blogsHeader {
  grid-area: blogsHeader;
  width: 100%;
  text-align: center;
  font-size: 2.5em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  color: aliceblue;
}
#blogsList {
  grid-area: blogsList;
  width: 100%;
  height: 100%;
  padding: 0 1em;
}
#blogInput {
  grid-area: blogInput;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 0.6fr 0.2fr 0.1fr;
  grid-template-areas:
    "blogTitleInput"
    "blogDescriptionInput"
    "blogImageInput"
    "postBlog";
  row-gap: 1em;
  padding: 5em;
  background-color: #1b3433;
}

#blogTitleInput {
  grid-area: blogTitleInput;
  border-radius: 0.4em;
  padding: 1em;
  width: 100%;
  border: 1px solid gray;
}
#blogDescriptionInput {
  grid-area: blogDescriptionInput;
  border-radius: 0.4em;
  padding: 1em;
  width: 100%;
  border: 1px solid gray;
}
#blogImageInput {
  grid-area: blogImageInput;
  width: 100%;
  cursor: pointer;
}
#postBlog {
  grid-area: postBlog;
  background-color: #405cf5;
  border-radius: 0.5em;
  border-width: 0;
  color: #fff;
  cursor: pointer;
  height: 3em;
  width: 30vw;
  margin-left: auto;
  margin-right: auto;
}

.blogItem {
  display: grid;
  grid-template-columns: 0.7fr 0.3fr;
  grid-template-rows: 0.15fr 0.9fr 0.05fr;
  grid-template-areas:
    "blogTitle blogImage"
    "blogDescription blogImage"
    "blogDate blogImage";
  width: 100%;
  justify-items: center;
  align-items: stretch;
  align-content: space-between;
  height: 20em;
  column-gap: 1em;
  row-gap: 0.5em;
  padding: 1em;
  border-radius: 1em;
  margin-bottom: 1em;
  box-shadow: 0px 2px 8px 0px rgba(99, 99, 99, 0.2);
  background-color: snow;
}

.blogTitle {
  grid-area: blogTitle;
  width: 100%;
  font-size: 1.2em;
}
.blogDescription {
  grid-area: blogDescription;
  width: 100%;
  font-size: 1em;
  overflow-wrap: break-word;
}

.blogDate {
  grid-area: blogDate;
  width: 100%;
  text-align: left;
  margin-top: auto;
  font-size: 0.8em;
}

.blogImage {
  grid-area: blogImage;
  width: 100%;
  object-fit: cover;
  border-radius: 1em;
}

#bottomLinks {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "socialLinks"
    "copyright";
  padding: 2em 0;
  justify-items: center;
  row-gap: 1em;
  align-items: center;
  background-color: black;
  color: snow;
}

.socialLinks {
  grid-area: socialLinks;
}

#copyright {
  grid-area: copyright;
  font-size: 1em;
}

.socialLinks i {
  cursor: pointer;
  font-size: 3em;
  margin: 0 0.3em;
}

@media only screen and (max-width: 500px) {
  #navbar {
    position: static;
  }
  .navItem {
    display: none;
  }
  #navbar #hamburger {
    float: right;
    display: block;
    color: white;
    margin: 1vw 2vw 0 0;
  }
  #navbar.responsive {
    position: relative;
    padding-top: 3vh;
  }
  #navbar.responsive #hamburger {
    position: absolute;
    right: 0;
    top: 0;
  }
  #navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .navItem {
    font-size: 2.5vw;
    padding-left: 1vh;
    margin: 1vh;
    width: auto;
  }

  #navBar::after {
    content: "";
    display: table;
    clear: both;
  }

  #hiThere {
    display: grid;
    width: 100%;
    min-height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.4fr 0.2fr 0.2fr;
    grid-template-areas:
      "hello"
      "tongueOutImage"
      "albertEinstein"
      "quote";
    padding: 0 1em;
  }
  #hello {
    font-size: 2em;
  }
  #tongueOutImage {
    height: 50vh;
    margin-top: 1em;
  }
  #albertEinstein {
    font-size: 2em;
    margin-top: 1em;
  }
  #quote {
    font-size: 1em;
    margin-top: 1em;
  }

  #aboutMe {
    display: grid;
    width: 100%;
    min-height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.45fr 0.45fr;
    grid-template-areas:
      "aboutMeHeader"
      "myImage"
      "myDescription";
    padding-bottom: 1em;
  }
  #aboutMeHeader {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 2em;
  }
  #myImage {
    width: 100%;
    height: auto;
    border-radius: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
  }
  #myDescription {
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 1em;
    margin-left: auto;
    margin-right: auto;
  }

  #scientificCareer {
    display: grid;
    width: 100%;
    min-height: 100vh;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
  }
  #careerTableHeader {
    font-size: 1em;
  }
  #scientificCareerHeader {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 2em;
  }
  .careerItem {
    font-size: 0.8em;
  }

  #publications {
    display: grid;
    width: 100%;
    min-height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.12fr 0.12fr 0.12fr 0.12fr 0.12fr 0.12fr 0.12fr 0.12fr;
    grid-template-areas:
      "publicationsHeader"
      "paper1"
      "paper2"
      "paper3"
      "paper4"
      "paper5"
      "paper6";
    padding-left: 1em;
    padding-right: 1em;
    align-items: center;
    row-gap: 1em;
    justify-items: center;
    padding-top: 2em;
  }
  #publicationsHeader {
    font-size: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  #awards {
    display: grid;
    width: 100%;
    min-height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.1125fr 0.1125fr 0.1125fr 0.1125fr 0.1125fr 0.1125fr 0.1125fr 0.1125fr;
    grid-template-areas:
      "awardsHeader"
      "award1"
      "award2"
      "award3"
      "award7"
      "award5"
      "award6"
      "award4"
      "award8";
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    align-items: center;
    row-gap: 1em;
    justify-items: center;
    padding-top: 2em;
  }
  #awardsHeader {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 2em;
  }

  #hobbies {
    display: grid;
    width: 100%;
    min-height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.225fr 0.225fr 0.225fr 0.225fr;
    grid-template-areas:
      "hobbiesHeader"
      "puzzle"
      "book"
      "violin"
      "essay";
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    align-items: center;
    row-gap: 1em;
    justify-items: center;
    padding-top: 2em;
  }
  #hobbiesHeader {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 2em;
  }

  .hobbyItem {
    height: 24em;
  }

  #gallery {
    display: grid;
    width: 100%;
    min-height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 9fr;
    grid-template-areas:
      "galleryHeader"
      "imagesCollection";
    padding-bottom: 1em;
    align-items: center;
    row-gap: 1em;
    justify-items: center;
    padding-top: 2em;
  }
  #galleryArrowLeft,
  #galleryArrowRight,
  #galleryDisplay {
    display: none;
  }
  #galleryHeader {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 2em;
  }

  #imagesCollection {
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "image1"
      "image2"
      "image3"
      "image4"
      "image5"
      "image6"
      "image7"
      "image8"
      "image9"
      "image10"
      "image11"
      "image12";
  }
  .pictures {
    height: 20em;
  }

  #blogs {
    display: grid;
    width: 100%;
    min-height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.7fr 0.2fr;
    grid-template-areas:
      "blogsHeader"
      "blogsList"
      "blogInput";
    padding-bottom: 1em;
    align-items: center;
    row-gap: 1em;
    justify-items: center;
    padding-top: 2em;
  }
  #blogsHeader {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 2em;
  }
  #blogsList {
    width: 100%;
    height: 100%;
    padding-bottom: 0;
  }
  #blogInput {
    grid-area: blogInput;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.6fr 0.2fr 0.1fr;
    grid-template-areas:
      "blogTitleInput"
      "blogDescriptionInput"
      "blogImageInput"
      "postBlog";
    row-gap: 1em;
    padding-left: 1em;
    padding-right: 1em;
    background-color: #1b3433;
  }

  #blogTitleInput {
    grid-area: blogTitleInput;
    border-radius: 0.4em;
    padding: 1em;
    width: 100%;
    border: 1px solid gray;
  }
  #blogDescriptionInput {
    grid-area: blogDescriptionInput;
    border-radius: 0.4em;
    padding: 1em;
    width: 100%;
    border: 1px solid gray;
  }
  #blogImageInput {
    grid-area: blogImageInput;
    width: 100%;
    cursor: pointer;
  }
  #postBlog {
    height: 3em;
    width: 100%;
  }

  .blogItem {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.15fr 0.7fr 0.05fr;
    grid-template-areas:
      "blogImage"
      "blogTitle"
      "blogDescription"
      "blogDate";
    width: 100%;
    justify-items: center;
    align-items: stretch;
    height: auto;
    row-gap: 0.5em;
    padding: 0.5em;
  }

  .blogTitle {
    text-align: center;
  }

  .blogDate {
    text-align: center;
  }

  .blogImage {
    height: 15em;
  }

  #copyright {
    font-size: 1em;
  }

  .socialLinks i {
    font-size: 2em;
  }
}
